.shop-container{
    display: grid;
    grid-template-columns: 1fr 250px;
    justify-content: center;
}
.order-container{
    background-color: #f0f8ff;
    position: sticky;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid #ddd;
    padding: 7px;
}

.product-container1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


@media screen and (max-width: 598px) {
    .shop-container{
        grid-template-columns: 1fr;
    }
    .shop-container{
        position: relative;
    }
    .order-container{
        position: fixed;
        top: 10px;
        right: 0px;
    }
  }